name: text_url_recognizable
description: A widget to recognize URL in text and make the URL tappable.
version: 0.0.2
homepage: https://github.com/bayernMfan/text_url_recognizable

environment:
  sdk: '>=2.19.2 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
